.required_sign{
	color: red;
}

#card_product_details{
	min-height: 500px
}

#card_product_image{
	min-height: 500px
}

#card_product_image_inside{
	min-height: 300px;
	background: lightgray;
}

#img-upload{
    width: 100%;
}

.update_container{
	text-align: center;
}

.update_content{
	display: inline-block;
}



.update_input{
	width: 100px;
}

/*pos custom css*/

#pos_product_container{
	height: 75vh;
	overflow-y: auto;
	overflow-x: hidden;
	border-left: solid;
}

#pos_cart_container{
	height: 75vh;
}

#cart_table_container{
	background: #edeeef;
	height: 50vh;
	overflow: auto;
}





